---
import FormattedDate from './FormattedDate.astro';

interface Props {
  title: string;
  url: string;
  pubDate: string;
  description: string;
}

const { title, url, pubDate, description } = Astro.props;
---

<article>
  <h2 class="text-lg mb-2">
    <a href={url} class="hover:underline">
      {title}
    </a>
  </h2>
  <FormattedDate date={pubDate} class="text-content-subtle block mb-2 text-xs" />
  <p class="text-xs text-content">{description}</p>
</article>

