---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---
<header class="bg-white">
  <div class="max-w-3xl mx-auto px-4 sm:px-8 py-4">
    <a href="/" class="flex items-center text-inherit hover:text-inherit">
      <Image src={logo} alt="Nila Logo" class="w-6 h-6 mr-2" />
      <h1 class="font-bold font-mono uppercase text-xl m-0">Nila</h1>
    </a>
  </div>
</header>
