---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---

<header class="bg-white">
  <div class="mx-auto max-w-3xl px-4 pb-6 pt-8 sm:px-8">
    <a href="/" class="flex items-center text-inherit hover:text-inherit">
      <Image src={logo} alt="Nila Logo" class="mr-2 h-6 w-6" />
      <h1 class="m-0 font-mono text-xl font-bold uppercase">Nila</h1>
    </a>
  </div>
</header>
