---
import logo from '../assets/logo.svg';
---
<header class="flex items-center mb-8 pb-4 border-b">
  <a href="/" class="flex items-center text-inherit hover:text-inherit">
    <img src={logo} alt="Nila Logo" class="w-6 h-6 mr-2" />
    <h1 class="font-bold font-mono uppercase text-xl m-0">Nila</h1>
  </a>
</header>
