---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---
<header class="bg-white border-b border-slate-200">
  <div class="max-w-2xl mx-auto px-6 py-8">
    <a href="/" class="flex items-center justify-center text-inherit hover:text-inherit no-underline hover:no-underline">
      <Image src={logo} alt="Nila Logo" class="w-8 h-8 mr-3" />
      <span class="font-sans font-bold text-2xl m-0 uppercase tracking-wider">Nila</span>
      <span class="ml-3 text-sm normal-case tracking-normal font-normal">by Vignesh Mohankumar</span>
    </a>
  </div>
</header>
