---
---
<div class="flex items-center">
  <a href="/" class="flex items-center">
    <img src="/logo.svg" alt="Nila Logo" class="w-6 h-6 mr-2" />
    <h1 class="font-bold uppercase text-2xl">Nila</h1>
  </a>
</div>
