---
interface Props {
  label: string;
  description: string;
}

const { label, description } = Astro.props;
---

<li class="text-gray-700">
  <div class="font-medium mb-1">{label}</div>
  <div class="leading-relaxed" set:html={description}></div>
</li>

