---
interface Props {
  label: string;
  description: string;
}

const { label, description } = Astro.props;
---

<div class="mb-6">
  <dt class="text-lg font-bold mb-2">{label}</dt>
  <dd class="leading-relaxed text-gray-600" set:html={description}></dd>
  
</div>

