---
interface Props {
  title?: string;
  id?: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  aria-labelledby={title && id ? `${id}-heading` : undefined}
  aria-label={!title && id ? id : undefined}
  class="mt-16"
>
  {
    title && (
      <h2
        id={id ? `${id}-heading` : undefined}
        class="text-2xl md:text-3xl font-bold mb-6"
      >
        {title}
      </h2>
    )
  }
  <slot />
</section>
