---
interface Props {
  quote: string;
  author: string;
  company: string;
  url?: string;
}

const { quote, author, company, url } = Astro.props;
---

<blockquote class="pl-4 border-l-2 border-gray-300 mb-8">
  <p class="italic mb-2">
    &ldquo;{quote}&rdquo;
  </p>
  <p class="font-bold">
    — {author}, {
      url ? (
        <a href={url} class="text-blue-500 hover:text-blue-700" target="_blank">{company}</a>
      ) : (
        company
      )
    }
  </p>
</blockquote>